
html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}

ul{
    list-style: none;
}

body, .page {
    background-color: #F8F8F8;
}



.page {
    //margin: 36px 16px;
}
.demoName {
  font-size: .72rem;
  color: #108ee9;
  padding: .48rem 0;
  text-align: center;
  p {
    font-size: .28rem;
    color: #999;
  }
}
.demo-title{
  padding: 16px 32px;
  color: #404040;
  position: relative;
  :before,:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    display: block;
  }
  :after{
    top: auto;
    bottom: 0;
  }
}
