{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "transform-runtime",
    "react-hot-loader/babel",
    [
      "import",
      {
        "style": "css",
        "libraryName": "antd-mobile"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [ ".less" ]
          }
        ]
      ]
    }
  }
}
