@import "../../style/mixins";
@import "../../style/themes/default";

@circularProgressPrefixClass: mi-circular-progress;
.@{circularProgressPrefixClass}{
  width: 100%;
  &-path{
    stroke: @circular-progress;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  &-trail{
    stroke: #d6d6d6;
  }
  &-text {
    fill: #888888;
    font-size: 26px;
    dominant-baseline: central;
    text-anchor: middle;
  }
}
